[GLOBAL_VAR]
;AppPlayerManagerFullPath=C:\Util\Nox\bin\MultiPlayerManager.exe
AppPlayerManagerFullPath=C:\Users\hanwh\AppData\Roaming\Nox\bin\MultiPlayerManager.exe
Instance=1

;; 143, 193, 257, 320, 384
; 0 : 카스텔라 계란초밥, 샐리별 아이스크림, 샐리별 옥수수, 포춘 피쉬, 흑마법 포션
; 1 : 사랑의 버거, 체리 미니케이크, 4가지맛 푸딩, 딸리 크레페
; 2 : 유기농 파인애플, 4가지맛 파르페, 레인저스 포션, 무지개 양파
; 3 : 꽃송이 브로콜리, 은하수 포션, 레인저 구슬초밥, 캔디맛 포도
; 4 : 보석 프레즐, 브라운커피, 샐리별 완두콩, 루비 포션
; 5 : 강력한 독보섯, 알록달록 치즈, 익고있는 토마토, 반짝이는 땅콩
; 6 : 정제된 포션, 부장님 핫도그, 핑크 포션, 건강한 파프리카
; 7 : 바삭한 새우튀김, 브라운 초콜릿, 문서 소시지, 새콤한 체리
; 8 : 문의 조각피자, 신선한 고기, 잘익은 아보카도, 오렌지 포션
; 9 : 하트 쿠키, 달콤한 컵케익, 소프트 아이스크림, 알록달록 소시지
; -8 : 딸기 롤케이크, 늪지대 포션, 딸기 포션, 알록달록 소시지
; -7 : 신선한 베이컨, 스티브 조개, 샐리별 수박, 무지개 버섯
; -6 : 갓 구운 식빵, 바다파도 포션, 레몬에이드, 보석 아이스크림
; -0 : 샐리별 얼음, 샐리별 바나나, 달콤한 막대사탕, 초코 도넛
[Repeat LAB]
; 재료 생산 여부
isCraftMatirial=0
isUltimate=0
isAsendingGrade=0
nMatirialScrollCount=6
nMaririalClickY=257
; 4/257 = Brown Coffee : 6/257 : 부장님 핫도그

[EVENT_STAGE]
; 이벤트 스테이지 난이도 : 0 = easy, 1 = normal, 2 = hard
Difficulty=1
DelayUsingShield=7000

[SPECIAL_STAGE]
UseFriend=0
UpgradeMineral=0
InGameZoom=1
IsChangingTeam=0
PeriodOfChangingTeam=3300
UseUnbeatable=1
; 전투에 진입한 후, 지정된 시간 후(단위:초)에 토네이도(Tornado)를 사용함. 0이면 사용안함
UseTornado=16
; 전투에 진입한 후, 지정된 시간 후(단위:초)에 아이스샷(Ice Shot)을 사용함. 0이면 사용안함
UseIceShot=9
; 전투에 진입한 후, 지정된 시간 후(단위:초)에 메테오(Meteor)를 사용함. 0이면 사용안함
UseMeteor=0


[SPECIAL_STAGE_EVENT6]
UseUnbeatable=0

[SPECIAL_STAGE_EVENT5]
UseUnbeatable=0


[SPECIAL_STAGE_ELEMENTAL6]
UseUnbeatable=1

[SPECIAL_STAGE_ELEMENTAL5]
UseUnbeatable=1


[GUILD_RAID]
UseFriend=0
UpgradeMineral=0
InGameZoom=1
IsChangingTeam=1
PeriodOfChangingTeam=2900
UseUnbeatable=0

[CHALLENGE_STAGE]
UseFriend=0
UpgradeMineral=5
InGameZoom=1
IsChangingTeam=1
PeriodOfChangingTeam=3300
UseUnbeatable=0


[SPECIAL_STAGE_HELL6]
UseUnbeatable=1

[SPECIAL_STAGE_HELL5]
UseUnbeatable=1


[SPECIAL_STAGE_HARD6]
UseUnbeatable=1

[SPECIAL_STAGE_HARD5]
UseUnbeatable=1



[SPECIAL_STAGE_EVENT]
UseUnbeatable=1
;UseIceShot=9
;UseTornado=16

